.highlighted-var {
    font-weight: bold;
}
.sanctioned-grid-container {
    display: inline-grid;
    overflow-y: auto;
    height:100%;
    /*border: solid 1px black;
    border-collapse: collapse;*/
}
div.sanctioned {
    border:none;
    position: relative;
}
img.sanctioned {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
p.sanctioned {
    position: block;
    bottom: 0px;
    text-align: center;
}
.account-widget {
    border: solid 1px black;
    height: 5%;
    width: 100%;
    table-layout: fixed;
}
.account-widget tr {
    height:100%;
    display:flex;
}
.account-widget td {
    height:100%;
}
.account-widget td:hover {
    background-color: #F0F0F0;
}
.account-widget td, a {
    display:block;
}
.banned-dashboard {
    height: 80%;
}