.highlighted-var {
    font-weight: bold;
}
.sanctioned-grid-container {
    display: inline-grid;
    overflow-y: auto;
    height:100%;
    /*border: solid 1px black;
    border-collapse: collapse;*/
}
div.sanctioned {
    border:none;
    position: relative;
}
img.sanctioned {
    width: auto;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
p.sanctioned {
    position: block;
    bottom: 0px;
    text-align: center;
}
.account-widget {
    border: solid 1px black;
    height: 5%;
    width: 100%;
    table-layout: fixed;
}
.account-widget tr {
    height:100%;
    display:flex;
}
.account-widget td {
    height:100%;
    padding-right:4px;
    padding-left:4px;
}
.account-widget td:hover {
    background-color: #F0F0F0;
}
.account-widget a {
    display:block;
}
.banned-dashboard {
    height: 80%;
}
.incidents {
    width:100%;
}
.incidents td{
    max-width:100%;
    white-space: nowrap;
}
.bordered-table {
    border-collapse: collapse;
}
.bordered-table td, th {
    border: solid 1px black;
    border-collapse: collapse;
}
.horizontal-table tr {
    display:flex;
}
.long-table {
    width:100%;
}
td.long-column {
    white-space: initial;
}
a {
    display: inline;
}